@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
:root {
  --color-letter-title: rgb(72, 52, 52);
  --color-letter-subtitle: rgb(107, 79, 79);

  --color-backgroup-button: rgb(238, 195, 115);
}
body {
  margin: 0;
  font-family: "Fredoka One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
